{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="col">
            <div class="row-1">
                
                <form action="{{url_for('add')}}" method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">Create Todo's</label>
                        <input type="text" class="form-control" id="title" name="todo" required>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>

            </div>

            {% if todos %}
            <h3 class="text-left align-bottom pt-4 ">TODO's</h3><br>
            {% for todo in todos %}
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{todo}}</h5>
                        
                        <a href="{{url_for('delete', id=todo)}}" class="btn btn-danger">Delete</a>
                        <a href="{{ur}}"></a>

                        </div>
                        </div>

            </div>
                {% endfor %}
{%endif%}

            
    </div>
{% endblock %}